03-Workflows/agent-odoo-exemple.json
{
  "name": "Exemple Agent Odoo Skills",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Tu es un assistant connecté à l'ERP Odoo de l'entreprise. Utilise l'outil 'Recherche Produit Odoo' pour obtenir des informations sur le catalogue. Ne donne que l'information demandée sans inventer de données. Si tu ne trouves pas l'information dans ton outil, dis-le."
        }
      },
      "id": "e2f1f008-01e4-44cf-a8ff-59c402ad7bc8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a576c3dc-6bed-450f-a9cb-b0b2e3e5c9b6",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        460,
        340
      ],
      "webhookId": "4a71340f-7b64-4632-9ab2-a4f61f774df3"
    },
    {
      "parameters": {
        "model": "tinyllama"
      },
      "id": "abc2d4ef-1234-abcd-5678-001122334455",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        680,
        500
      ],
      "credentials": {
        "ollamaApi": {
          "id": "YOUR_OLLAMA_ID",
          "name": "Ollama local"
        }
      }
    },
    {
      "parameters": {
        "name": "recherche_produit_odoo",
        "description": "Utilise cet outil pour chercher un produit dans le catalogue Odoo et obtenir ses détails (prix, nom, référence).",
        "resource": "product.template",
        "operation": "getAll",
        "limit": 10,
        "options": {}
      },
      "id": "f5a09c2a-9f4a-4e78-90cb-d227db4d2c8c",
      "name": "Recherche Produit Odoo",
      "type": "n8n-nodes-base.odooTool",
      "typeVersion": 1,
      "position": [
        840,
        500
      ],
      "credentials": {
        "odooApi": {
          "id": "YOUR_ODOO_CREDENTIAL_ID",
          "name": "Compte Odoo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recherche Produit Odoo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
